html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27; !important;
}

.incorrect {
    background-color: #c41a21; !important;
}

.buttons {
    padding: 10px 10px 10px 0;
}

.box-question{
    background-color: gray;
}

.box-current{
    background-color: orange;
}

.boxe{
    display: table-cell;
    height: 20px;
    min-width: 5%;
}

.boxes{
    display: table;
    width: 100%; /*Optional*/
    border-spacing: 2px;
}

